.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner_table {
  border: 1px solid black;
  border-collapse: collapse;
}
td, th {
  font-size: 16px;
  line-height: 30px;
  border: 1px solid black;
  text-align: center;
}
.container {
  width: 80vw;
}
.footer_info {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  background-color: gray;
  margin: 0;
  padding: 0;
  height: 60px;
}
.menu_link {
  color: #FFF;
  text-decoration: none;
  text-shadow: 1px 1px 5px black;
}
.menu_link.active {
  color: #FFF;
  text-shadow: 1px 5px 5px black;
}

.menu_link:hover {
  color: #FFF;
  text-shadow: 1px 5px 5px black;
}

.list_link {
  color: #282c34;
  text-decoration: none;
  text-shadow: 0 0 2px black;
}
.list_link:hover {
  color: black;
  text-shadow: 1px 5px 5px black;
  text-decoration: underline;

}
.paginator {
  margin: 50px;

}
.paginator_box {
  display: flex;
  height: 2em;
  align-items: center;
  justify-content: center;
}

.paginator_box button {
  background-color: grey;
  padding: 5px 20px;
  border-radius: 5px;
  color: #FFFFFF;
  text-shadow: 1px 1px 5px black;
  box-shadow: 1px 1px 3px black;
  border-color: grey;
}
.paginator_box button:active {
  box-shadow: none;
}